<h1><a href = '\'>Adnat</a></h1>

    <% if current_user%>
        Signed in as <%= current_user.name %><li><%= link_to 'Log out', signout_path%></li>
    <% else %>
    	redirect_to root_path 
    <% end %>
<% if current_user.org_id == nil %>
    <h2>Organizations</h2>
<table >
    <tbody>
    <% @organizations.each do |org| %>
    <tr>
    <td><%= org.orgname %></td> <td><%= link_to pages_organizations_path(:org_id => org.org_id) do %>Edit<% end %></td><td><%= link_to 'Join', pages_join_path(org_id: org.org_id) %></td>
    </tr>
    <% end %>
    </tbody>
    </table>

<h2>Create Organization</h2>
<%= form_tag '/createorg' do %>
            <div class="panel panel-default">
                <div class="panel-body">
                  <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group" id="lName">
                            
                            <%= text_field_tag :orgname, nil,placeholder: "Name", :required => 'required'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="eAdd">
                            
                            <%= text_field_tag :rate, nil, placeholder: "Rate", :required => 'required'%>
                        </div>
                    </div>                
                </div>
                <%= submit_tag 'Create and Join'%>
            </div>
                </form>
                <% end %>

<% else %>
<%    users = User.find_by(id: current_user.id) %>
 <%    orgs = Org.find_by(org_id: users.org_id) %>
 <h2><%= orgs.orgname %></h2>
 <%= link_to 'View Shifts', shifts_shifts_path(org_id: current_user.org_id) %>&nbsp;<a href = organizations>Edit</a>&nbsp;<%= link_to 'Leave', pages_leave_path(org_id: current_user.org_id) %>
 <% end %>


	