<h1><a href = '\'>Adnat</a></h1>

    <% if current_user%>
        Signed in as <%= current_user.name %><li><%= link_to 'Log out', signout_path%></li>
    <% else %>
    	redirect_to root_path
    <% end %>

    <h2>Edit Organization</h2>
<%= form_tag '/editorg' do %>
<% a = Org.find_by(params[:org_id]) %>

            <div class="panel panel-default">
                <div class="panel-body">
                  <form class="form form-signup" role="form">
                    <div class="form-group">
                        
                        <div class="input-group" id="lName">
                            Name: 
                            <%= text_field_tag :orgname, nil,placeholder: "Name", :required => 'required'%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group" id="eAdd">
                            Hourly Rate: 
                            <%= text_field_tag :rate, nil, placeholder: "Rate", :required => 'required'%> per hour
                        </div>
                    </div>                
                </div>
                <%= hidden_field_tag :org_id, a.org_id %>
                <%= submit_tag 'Update'%>      

                <h3><%= link_to 'Delete', pages_delete_path(org_id: a.org_id), method: :delete =%></h3>
            </div>
				<% end %></form>


